<header class="bg-black text-white shadow-lg header-front position-sticky top-0" style="z-index: 1003;">
        <div class="container mx-auto items-center justify-between px-20 py-0">
            <!-- Center - Logo -->
            <div class="m-auto grid grid-cols-3 align-items-center">
                <img src="{{message}}img/Screenshot 2025-07-25 195055.png" alt="Company Logo" class="h-12 w-64">
                <p class="justify-self-center align-self-center font-bold text-3xl text-center">mj <br> cheezain</p>
                <p class="text-right">
                    <span><i class="fa fa-phone"></i>03**-*******</span> 
                    &nbsp; &nbsp; &nbsp; &nbsp; 
                    <span><i class="fa fa-envelope"></i>aqi*********@gmail.com</span>
                </p>
            </div>

            <!-- Left side - AutoParts heading -->
            <div class="text-left py-2">
                <p class="text-md font-bold"><a href="{{message}}/brands/autoparts.php" style="color: whitesmoke; text-decoration: none;"> <i class="fas fa-tools"></i> AUTOPARTS</a></p>
            </div>
            
            
            <!-- Right side - Perfume heading -->
            <!-- <div class="text-right"> -->
                <!-- <h1 class="text-2xl font-bold text-pink-400">PERFUME</h1> -->
            <!-- </div> -->
        </div>
    </header>